<div id="content">
        <div class="card mb-3" style="max-width: 800px;">
            <div>
            <h5 class="card-title" style="color: blue; margin-top: 30px; font-size: 20px; text-align: center;">Sobre o site</h5>
            </div>

            <div style="margin-left: 30px; font-size: 15px;">
                    <ul>
                            <li style="margin-bottom: 5px;">Site desenvolvido pelos alunos: Guilherme Bastos, Gabriel Piffer e Caique Duarte para a disciplina COM222 - Desenvolvimento Web - Instituto de Matematica e Computação - Universidade Federal de Itajubá - MG - Brasil - 2019.2</li>
                            <li style="margin-bottom: 5px;">As ferramentas utilizadas para desenvolvimento foram:
                                <ol>
                                        <li>Framework Angular para o front-end</li>
                                        <li>Interpretador javascript Node.js no back-end</li>
                                        <li>Banco de dados relacional Mysql</li>
                                        <li>Xampp para upar o servidor</li>
                                </ol>
                            </li>
                            <li style="margin-bottom: 5px;">Todo conteúdo da página é gerado Realtime, não se fazendo necessário o uso de URL</li>
                            <li style="margin-bottom: 5px;">Este site consiste em um E-commerce de uma livraria, com ele o usuário pode navegar pelas seguintes funcionalidades:</li>
                                <ol>
                                        <li>Cadastrar um usuário</li>
                                        <li>Buscar livros por suas categorias</li>
                                        <li>Buscar livros por meio de pesquisa</li>
                                        <li>Visualizar informações dos livros</li>
                                        <li>Fazer a compra de livros via Carrinho de Compra</li>
                                        <li>Visualizar histórico de compra</li>
                                        <li>Acessar informações sobre o site</li>
                                </ol>
                    </ul>
            </div>
        </div>
        
    </div>